@model KutseApp.Models.Guest

@{
    ViewData["Title"] = "Aitäh!";
}

<h2>Aitäh!</h2>

<p>Tänan sind, @Model.Name</p>

<div>
    @if (Model.WillAttend == true)
    {
        @:<p>Ootame sind, kallis sõber!</p>
        <div>@Html.ActionLink("Saada meldetuuletus", "Notificate", "Home", new { name = Model.Name, email = Model.Email }, new { @class="btn btn-primary" })</div>
    }
    else
    {
        @:<p>Väga kurb. Näeme hiljem!</p>
    }
    <p>
        @ViewData["Message"]
    </p>
</div>